# Default ignored files
/shelf/
/workspace.xml
# Компилированные файлы
target/
out/
*.class

# IDE файлы
.idea/
*.iml
.settings/
.project
.classpath
.mvn/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.swp
*.lock
